<meta charset="UTF-8">

<div class="container" data-ng-init="find()">
	
	<div class="page-header">
		
		<h2>
			<strong>{{projeto.descricao}}</strong>
			<span class="pull-right">
				<button type="button" class="btn btn-warning btn-sm">
					<i class="glyphicon glyphicon-pencil"></i>
				</button>			
				<button type="button" class="btn btn-danger btn-sm" ng-click="deletar(projeto)">
					<i class="glyphicon glyphicon-trash"></i>
				</button>
			</span>			
		</h2>
		
	</div>
	
	<div class="row">
	
		<div class="col-xs-6">
		
			<table class="table table-bordered">
				<tr>
					<td><strong>Projeto: </strong></td>
					<td>{{projeto.descricao}}</td>
				</tr>
				<tr>
					<td><strong>Criação: </strong></td>
					<td>{{projeto.criacao | date: 'dd/MM/yyyy'}}</td>
				</tr>
			</table>
			
		</div>
		
	</div>
	
	<hr />
	
	<div class="row">
	
		<div class="col-xs-12">
				
			<div class="panel panel-default">
				
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Tarefa</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="tarefa in projeto.tarefas">
							<td>{{tarefa.descricao}}</td>
						</tr>
					</tbody>
				</table>
				
			</div>
		
		</div>
		
	</div>
	
</div>	