<meta charset="UTF-8">

<div class="container" data-ng-init="find()">
	
	<div class="page-header">
		
		<h2>
			<strong>{{projeto.descricao}}</strong>
			<span class="pull-right">
				<button type="button" class="btn btn-warning btn-sm">
					<i class="glyphicon glyphicon-pencil"></i>
				</button>			
				<button type="button" class="btn btn-danger btn-sm" ng-click="deletar(projeto)">
					<i class="glyphicon glyphicon-trash"></i>
				</button>
			</span>			
		</h2>
		
	</div>
	
	<div class="row">
	
		<div class="col-xs-4">
			
			
			
		</div>
		
	</div>
	
	<hr />
	
	<div class="row">
	
		<div class="col-xs-12">
				
			<div class="panel panel-default">
				
				<table class="table table-striped">
					<thead>
						<tr>
							<th></th>
							<th>TAREFA</th>
							<th>INICIO</th>
							<th>PRAZO</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="tarefa in projeto.tarefas">
							<td style="text-align: center" class="col-xs-1">
								<a ng-href="/#/tarefas/{{tarefa.id}}">
									<i class="glyphicon glyphicon-folder-open"></i>
								</a>
							</td>
							<td>{{tarefa.descricao}}</td>
							<td>{{tarefa.criacao | date: 'dd/MM/yyyy'}}</td>
							<td>{{tarefa.prazo | date: 'dd/MM/yyyy'}}</td>
						</tr>
					</tbody>
				</table>
				
			</div>
		
		</div>
		
	</div>
	
</div>	