<meta charset="UTF-8">

<style type="text/css">
	
	.table > thead > tr > th {
		cursor: pointer;
	}
	
</style>

<div class="container" data-ng-init="findAll()">
	
	<div class="page-header">
		
		<h2><strong>Projetos</strong></h2>
		
	</div>

	<div class="row" ng-show="isAuthorized('ADMIN')">
	
		<div class="col-xs-6">
			
			<div class="panel panel-default">
				
				<form class="panel-body" ng-submit="adicionar(projeto)">
									
					<div class="form-group">
						<label class="control-label">Nome do Projeto <span class="text-danger">*</span></label>
						<input type="text" class="form-control" ng-model="descricao" required="required">
					</div>	
					
					<div class="form-group">
						<label class="control-label">Data de Criação <span class="text-danger">*</span></label>					
			            <input type="text" class="form-control" required="required" 
			            	ng-model="criacao.date" 
			            	ng-click="criacao.opened = true" 
			            	datepicker-popup="dd/MM/yyyy" 
			            	is-open="criacao.opened" />	            		
					</div>
											
					<div class="form-group">
						<button type="submit" class="btn btn-success">
							<i class="fa fa-floppy-o"></i>
						</button>
						<button type="button" class="btn btn-danger" ng-click="limparFormulario()">
							<i class="fa fa-remove"></i>
						</button>
					</div>	
												
				</form>
				
			</div>
			
		</div>	
	
	</div>		

	<div class="row">
	
		<div class="col-xs-12">
		
			<div class="panel panel-default" >
			
				<table class="table table-striped" >
				
					<thead>
						<tr>
							<th></th>
							<th ng-click="ordenar('descricao')" ng-style="isOrdered">
								NOME
							</th>
							<th ng-click="ordenar('criacao')">
								DATA DE CRIACAO
							</th>
							<th ng-click="ordenar('tarefas')">
								Nº DE TAREFAS
							</th>
							<th ng-show="isAuthorized('ADMIN')"></th>
						</tr>						
					</thead>
					
					<!-- ITERACAO SOBRE A LISTA PROJETOS -->				
					<tbody>
						
						<tr ng-repeat="projeto in projetos | orderBy: ordem">
							<td style="text-align: center" class="col-xs-1">
								<a ng-href="#/projetos/{{projeto.id}}">
									<i class="fa fa-folder-open"></i>
								</a>
							</td>
							<td>{{projeto.descricao}}</td>
							<td>{{projeto.criacao | date: 'dd/MM/yyyy'}}</td>
							<td>
								<span ng-if="projeto.tarefas">{{projeto.tarefas.length}}</span>
								<span ng-if="!projeto.tarefas">0</span>
							</td>
							<td style="text-align: center" class="col-xs-1" ng-show="isAuthorized('ADMIN')">					
								<button type="button" class="btn btn-danger btn-xs" ng-click="deletar(projeto)">
									<i class="fa fa-trash-o"></i>
								</button>
							</td>
						</tr>
						
					</tbody>
									
				</table>
					
			</div>
				
		</div>
		
	</div>
	
</div>	


