/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	background-color: #EEE;
	margin-bottom: 5em;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 5em;
	padding: 1.5em;
	background-color: #CCC;
}

/* Nav header styles
-------------------------------------------------- */
.nav-header {
	margin-bottom: 80px
}