/* Sticky footer styles
-------------------------------------------------- */

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 5em;
	padding: 1.5em;
	background-color: #151515;
}

/* Nav header styles
-------------------------------------------------- */
.nav-header {
	margin-bottom: 80px
}

/* Classes para funcoes loading de paginas */

.loading-off {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: linear all 0.25s;
	transition: linear all 0.25s;
}

.loading-on {
	visibility: visible;
	opacity: 1;
	-webkit-transition: linear all 0.25s;
	transition: linear all 0.25s;
}

.background-fade {
	overflow: hidden;
	z-index: 5000;
	background-size: cover;   
    position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.loading-div {
	position: absolute;    
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-left: -100px; 
    margin-top: -100px;
    color: white; 
    text-align: center;
}

/* Classes listas */

.ordered-by-this {
}

.text-click {
	cursor: pointer;
}
