<meta charset="UTF-8">

<!-- header -->
<div class="modal-header">
    <h3 class="modal-title">Novo comentário <small>Cadastro</small></h3>
</div>

<!-- body -->
<div class="modal-body">
	
	<div class="form-group">
		<label class="control-label">Comentario:</label>
		<textarea type="text" class="form-control" rows="3" ng-model="comentario.texto" style="resize: none"></textarea>
	</div>

</div>

<!-- footer -->
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>