<meta charset="UTF-8">

<!-- header -->
<div class="modal-header">
    <h3 class="modal-title">Editar Dados do Projeto</h3>
</div>

<!-- body -->
<div class="modal-body">
	
	<div class="form-group">
		<label class="control-label">Descriçao:</label> 
		<input type="text" class="form-control" ng-model="editando.descricao" />
	</div>

</div>

<!-- footer -->
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>